<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--根据mybatis.xml中的配置信息，将CategoryMapper和CategoryMapper.xml关联起来了。-->

    <!-- 注册sqlSessionFactoryBean的bean -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <!-- 指定mybatis主配置文件位置 -->
        <property name="configLocation" value="classpath:resources/Mybatis.xml" />
    </bean>
    <!-- 注册mapper扫描配置器 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--
            注意name属性后面的是value属性，而不是ref属性
            <property name="sqlSessionFactoryBeanName" ref="sqlSessionFactory" />这个是错误的配置方法

            <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" /> 这个配置特别关键，
            它根据mybatis.xml中的配置信息，将CategoryMapper和CategoryMapper.xml关联起来了
        -->
        <!--注入SqlSessionFactory-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />

        <!-- 指定基本扫描包，即mapper接口包 -->
        <property name="basePackage" value="com.nanhua.Tmall.mapper"/>
    </bean>
</beans>